1. Задан двухмерный массив ar1 размерности (10, 10), состоящий из случайных целых чисел в пределах от 0 до 15. Вычислить разность s_odd - s_even, где s_odd - сумма элементов, стоящих на позиции (x, y), где (x + y) является нечетным числом; s_even - сумма элементов, стоящих на позиции (x, y), где (x + y) является четным числом.

Решить задачу средствами numpy и/или pandas. Не использовать циклы и конструкции стандартного Python там, где можно использовать возможности данных библиотек

In [2]:
import numpy as np
import pandas as pd

In [45]:
a = np.random.randint(0, 15, (10, 10))
b = pd.DataFrame(a)
my_list = [1, 3]
mask = [[1 if x % 2 == 0 else 0 for x in range(y, 10+y)] for y in range(10)]
c = pd.DataFrame(mask)
s_even = b*c
s_even = s_even.sum().sum()
s_odd = b.sum().sum() - s_even
print(s_odd-s_even)

26

2. С помощью кода на Python с использованием sqlite3 и SQL решить задачу. Реализовать функции на Python:
    1. Которая возвращает все имеющиеся жанры. 
    2. Которая возвращает ID жанров, в которых написано более 100 треков, и их (жанров) название.

In [87]:
import sqlite3

In [91]:
con = sqlite3.connect("Chinook_Sqlite.sqlite")
c = con.cursor()

In [95]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

In [111]:
def get1(c):
    res = c.execute("SELECT * FROM Genre").fetchall()
    return [res[i][1] for i in range(len(res))]
print(get1(c))

['Rock', 'Jazz', 'Metal', 'Alternative & Punk', 'Rock And Roll', 'Blues', 'Latin', 'Reggae', 'Pop', 'Soundtrack', 'Bossa Nova', 'Easy Listening', 'Heavy Metal', 'R&B/Soul', 'Electronica/Dance', 'World', 'Hip Hop/Rap', 'Science Fiction', 'TV Shows', 'Sci Fi & Fantasy', 'Drama', 'Comedy', 'Alternative', 'Classical', 'Opera']

In [139]:
def get2(c):
    a = c.execute("SELECT Count(*), GenreId FROM Track GROUP BY GenreId").fetchall()
    return([c.execute(f"SELECT * FROM Genre where GenreId = {i[1]}").fetchone() for i in a if i[0] > 100])
print(get2(c))

[(1, 'Rock'), (2, 'Jazz'), (3, 'Metal'), (4, 'Alternative & Punk'), (7, 'Latin')]

In [127]:
c.execute("SELECT * FROM Genre").description

(('GenreId', None, None, None, None, None, None),
 ('Name', None, None, None, None, None, None))

3. Датасет: album_artist.xlsx
С помощью кода на Python с использованием xlwings решить задачу. Вынести названия артистов на отдельный лист "Артисты" и присвоить каждому артисту уникальный идентификатор. Заменить названия артистов на исходном листе на идентификаторы с листа "Артисты".

In [177]:
import xlwings as xw
from xlwings.constants import AutoFillType

In [183]:
wb = xw.Book("album_artist.xlsx")
sh = wb.sheets['Sheet1']
un_art = set(sh.range("D2:D348").value)
# wb.sheets.add('Артисты')
sh2 = wb.sheets['Артисты']
sh2.range('B1').options(transpose=True).value = [i for i in range(1, len(un_art)+1)]
sh2.range('A1').options(transpose=True).value = list(un_art)

In [184]:
sh.range('E2').options(transpose=True).formula = '=VLOOKUP(D2,Артисты!$A$1:$B$204,2,0)'

True

In [185]:
xw.Range('E2').api.AutoFill(xw.Range("E2:E348").api, AutoFillType.xlFillDefault)

True

In [186]:
sh.range('D2').options(transpose=True).value = sh.range('E2:E348').options(transpose=True).value
sh.range('E2:E348').options(transpose=True).value = ''

4. Датасет: us-countries.csv
Создайте таблицу, где по строкам располагаются названия штатов, по столбцам - каждый из 12 месяцев 2020 года, а в ячейках таблицы хранится суммарное количество смертей в данном штате в этот месяц. Если информация за какой-то месяц отсутствует, укажите в этой ячейке значение 0.

In [8]:
us = pd.read_csv('us-counties.csv', parse_dates=['date'])

In [9]:
us

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
2089614 2022-01-06  Sweetwater     Wyoming  56037.0   8471   110.0
2089615 2022-01-06       Teton     Wyoming  56039.0   6836    14.0
2089616 2022-01-06       Uinta     Wyoming  56041.0   4245    34.0
2089617 2022-01-06    Washakie     Wyoming  56043.0   1908    39.0
2089618 2022-01-06      Weston     Wyoming  56045.0   1261    16.0

[2089619 rows x 6 columns]

In [16]:
us.pivot_table('deaths', 'county', pd.DatetimeIndex(us['date']).month, fill_value=0)

date,1,2,3,4,5,6,7,8,9,10,11,12
county,,,,,,,,,,,,
Abbeville,31.432432,32.785714,25.113636,19.366667,20.500000,20.500000,21.548387,25.129032,27.550000,31.564516,34.866667,37.838710
Acadia,182.621622,179.392857,141.463415,98.016667,103.435484,113.266667,124.532258,150.241935,164.216667,173.500000,180.366667,191.903226
Accomack,38.729730,33.642857,26.069767,20.350000,25.145161,28.866667,30.129032,32.274194,39.650000,46.354839,50.000000,52.580645
Ada,462.729730,424.785714,274.860000,231.733333,244.016129,250.566667,261.274194,298.209677,352.716667,437.516129,509.633333,575.661290
Adair,30.452703,28.901786,25.451613,18.635593,20.701613,21.550000,21.903226,23.504032,26.320833,29.455645,33.350000,38.834677
...,...,...,...,...,...,...,...,...,...,...,...,...
Yukon-Koyukuk Census Area,4.648649,4.000000,4.000000,2.033898,2.000000,2.000000,2.080645,2.500000,2.733333,3.500000,4.400000,5.822581
Yuma,346.527027,385.625000,290.625000,210.966667,214.540323,228.133333,259.782258,292.112903,308.450000,318.104839,327.183333,356.395161
Zapata,21.729730,24.035714,29.193548,18.581818,18.000000,18.000000,18.274194,20.048387,22.333333,25.419355,27.116667,27.532258
Zavala,31.945946,34.107143,40.870968,29.318182,20.580645,20.500000,22.080645,26.322581,32.200000,35.209677,37.866667,40.177419
Ziebach,8.702703,9.000000,9.000000,9.000000,4.894737,4.500000,4.500000,4.500000,4.500000,5.161290,6.916667,8.725806

5. По данным из файла data/meals.json сформировать словарь, в котором по идентификатору блюда можно получить список ингредиентов.

In [18]:
import json

In [57]:
with open('meals.json', 'r') as f:
    cs = json.load(f)
res = {}
for i in cs['meals']:
    ls = []
    for n in range(1, 22):
        if i.get(f'strIngredient{n}', False):
            ls.append(i[f'strIngredient{n}'])
        else:
            res.setdefault(i['idMeal'], ls)
            ls=[]
            break
            
res.get('53050')

['Chicken Thighs',
 'Challots',
 'Ginger',
 'Garlic Clove',
 'Cayenne Pepper',
 'Turmeric',
 'Cumin',
 'Coriander',
 'Fennel',
 'Tamarind Paste',
 'Coconut Milk',
 'Sugar',
 'Water']

6. Датасет: Womens Clothing E-Commerce Reviews.csv
Для каждого уникального значения в столбце Division Name найти топ-5 самых часто используемых слов в описании отзыва. Исключить из рассмотрения стоп-слова.

In [96]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\OlegPC\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\OlegPC\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [117]:
wom = pd.read_csv('Womens Clothing E-Commerce Reviews.csv', index_col=[0])
wom.dtypes
wom['Review Text'] = wom['Review Text'].astype(str)
wom['Review Text'] = wom['Review Text'].str.lower()
a6 = wom.groupby(['Division Name'])['Review Text'].apply('; '.join).reset_index()
a6

    Division Name                                        Review Text
0         General  love this dress!  it's sooo pretty.  i happene...
1  General Petite  i love, love, love this jumpsuit. it's fun, fl...
2       Initmates  absolutely wonderful - silky and sexy and comf...

In [118]:
res = []
for i in a6['Review Text'].tolist():
    words_d = {}
    for j in [word for word in nltk.word_tokenize(i) if word.isalpha()]:
        words_d.setdefault(j, 0)
        words_d[j] += 1  
    res.append(words_d)
    words_d = {}
k = 0
ch = 0
for y in res:
    print(a6['Division Name'].tolist()[ch])
    for w in sorted(y, key=y.get, reverse=True):
        if w not in stopwords.words('english'):
            print(f"{y[w]} - {w}")
            k+=1
        if k == 5:
            k = 0
            ch += 1
            break

General
6018 - dress
5317 - love
5159 - size
4524 - top
4384 - fit
General Petite
4275 - dress
3099 - love
3035 - size
2486 - top
2476 - fit
Initmates
518 - love
504 - size
419 - like
411 - fit
406 - wear

7. Датасет: people.*.csv
В people.*.csv найти номера карт, сумма цифр в которых кратна 7. Выполнить задание с использованием Dask, распараллелив процесс обработки данных. Выполнить задание с использованием Dask (корректным!), распараллелив процесс обработки данных (использование Dask должно приводить к истинной параллельной обработке данных).

In [185]:
import dask.dataframe as dd
import dask

In [240]:
def krat_7(f):
    if sum(int(i) for i in f if i.isdigit()) % 7 == 0:
        return f
    else:
        return np.nan

def read(fl):    
    ddf = dd.read_csv(fl)
    return list(ddf['card'].map(krat_7).dropna().compute())

In [263]:
%%time
for i in range(3):
    read(f'people.{i}.csv')

Wall time: 146 ms

In [265]:
%%time
l = []
for i in range(3):
    l.append(dask.delayed(read)(f'people.{i}.csv'))
l = dask.compute(*l)

Wall time: 128 ms

In [266]:
%%time
l = dask.compute(*l)

Wall time: 3.99 ms

8. Подсчитать, сколько раз во всех текстовых файлах, лежащих в каталоге fish, встречаются слова, начинающиеся с прописной буквы. Выполнить задание с использованием Dask, распараллелив процесс обработки данных. Выполнить задание с использованием Dask (корректным!), распараллелив процесс обработки данных (использование Dask должно приводить к истинной параллельной обработке данных).

In [271]:
def read2(txt): 
    with open(txt, 'r', encoding="utf8") as file:
        data = file.read().replace('\n\t', ' ')
        words_d = {}
        for j in [word for word in nltk.word_tokenize(data) if word[0].isupper()]:
            words_d.setdefault(j, 0)
            words_d[j] += 1
    return words_d

In [285]:
%%time
for i in range(1, 5):
    read2(f'00{i}.txt')

Wall time: 131 ms

In [284]:
%%time
l2 = []
for i in range(1, 5):
    l2.append(dask.delayed(read2)(f'00{i}.txt'))
l2 = dask.compute(*l2)

Wall time: 80.7 ms

9. Сгенерируйте 10 строк длиной в 10000 символов, состоящих из маленьких английских букв. Посчитайте, сколько раз в этих 10 строках встречается шаблон "x?y?z", где знак вопроса обозначает один любой символ. Решение этой задачи распараллелить, используя multiprocessing Pool. Сравнить продолжительность последовательного и параллельного решения задачи.

In [26]:
from random import choice
from string import ascii_lowercase
import re

def f9(s):
    return len(re.findall(r'x.y.z', s))
    
a9 = [''.join(choice(ascii_lowercase) for i in range(10000)) for _ in range(10)]

In [28]:
%%time
s9 = 0
for i in a9:
    s9 += f9(i)
print(s9)

4
Wall time: 997 µs

In [30]:
from random import choice
from string import ascii_lowercase
import re
import time
from multiprocessing import Pool

def f9(s):
    return len(re.findall(r'x.y.z', s))


if __name__ == '__main__':
    a9 = [''.join(choice(ascii_lowercase) for i in range(10000)) for _ in range(10)]
    start = time.time()
    s9 = 0
    for i in a9:
        s9 += f9(i)
    print(s9)
    end = time.time()
    print((end - start) * 1000000)

    start = time.time()
    pool = Pool(processes=2)
    print(sum(pool.map(f9, a9)))
    end = time.time()
    print((end - start) * 1000000)

10. Создайте dask.array размерности 10 тыс на 5, заполненный случайными целыми числами на отрезке [0, 10]. Создайте версию этого массива, оставив только строки, в которых есть число 7

In [135]:
import dask.array as da
x = da.random.randint(0, 10, size=(10000, 5))
x[da.any(x == 7, axis = 1)].compute()

array([[9, 5, 4, 1, 7],
       [7, 4, 7, 6, 8],
       [3, 7, 5, 4, 3],
       ...,
       [7, 2, 9, 8, 4],
       [0, 2, 1, 4, 7],
       [6, 7, 9, 5, 8]])